/* CONFIGURATION GLOBAL */
@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/Urbanist-Regular.ttf');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/Urbanist-Medium.ttf');
}

@font-face {
    font-family: 'urbanist-semibold';
    src: url('../font/Urbanist-SemiBold.ttf');
}

:root {
    --primary-color: 1, 96, 201;
    --dark-color: 44, 42, 38;
    --light-color: 255, 255, 255;
    --blue-color: 84, 125, 226;
    --yellow-color: 246, 196, 106;
    --red-color: 213, 80, 81;

    --regular-font: 'urbanist-regular', Arial, Helvetica, sans-serif;
    --medium-font: 'urbanist-medium', Arial, Helvetica, sans-serif;
    --semibold-font: 'urbanist-semibold', Arial, Helvetica, sans-serif;

    --border-style: 1px solid rgba(44, 42, 38, 0.12);
}

* {
    font-family: var(--medium-font);
    transition: 250ms !important;
    color: rgba(var(--dark-color), 1);
}

body,
textarea,
.sidebar .sidebar-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.sidebar .sidebar-scroll::-webkit-scrollbar {
    display: none;
}

a {
    display: inline-block;
    color: rgba(var(--dark-color), 1);
    text-decoration: none;
}

p,
h6,
h5,
h4,
h3,
h2,
h1 {
    margin-bottom: 0;
    line-height: 150%;
}
/* END CONFIGURATION GLOBAL */


/* COMPONENT STYLE */
form.form {
    width: 100%;
    gap: 18px;
}

.input-wrapper label {
    color: rgba(var(--dark-color), 1);
    font-size: 0.938rem;
    margin-bottom: 10px;
}

.input-wrapper .input {
    width: 100%;
    border: var(--border-style);
    border-radius: 9999px;
    padding: 18px 22px;
    background-color: transparent !important;
    font-size: 0.875rem;
    border: var(--border-style);
    color: rgba(var(--dark-color), 0.62);
    outline: none;
}

.input-wrapper textarea.input {
    border-radius: 24px;
}

.input-wrapper .wrapper {
    gap: 22px;
}

.input-wrapper .wrapper-image p {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 1);
    margin-bottom: 6px;
}

.input-wrapper .wrapper-image button.button-default {
    padding: 14px 20px;
    width: 100%;
    text-align: start;
}

.input-wrapper .caption-error {
    font-size: 0.813rem;
    color: rgba(var(--red-color), 1);
}

h3.title {
    font-size: 1.75rem;
    font-family: var(--semibold-font);
}

h5.subtitle {
    font-size: 1.275rem;
    font-family: var(--semibold-font);
}

button.button-default,
a.button-default,
button.button-default-solid,
a.button-default-solid {
    padding: 14px 20px;
    border: var(--border-style);
    outline: none;
    stroke: none;
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 1);
    border-radius: 9999px;
    background-color: rgba(var(--light-color), 1);
    cursor: pointer;
}

button.button-default:hover,
a.button-default:hover {
    background-color: rgba(var(--dark-color), 0.03);
}

button.button-default-solid,
a.button-default-solid {
    background-color: rgba(var(--dark-color), 1);
    color: rgba(var(--light-color), 1);
}

button.button-default-solid:hover,
a.button-default-solid:hover {
    opacity: 0.95;
}

.row-gap {
    margin-bottom: 32px;
}

.content-title {
    margin-bottom: 22px;
}

.table-default {
    border: var(--border-style);
    width: 100%;
    border-radius: 12px !important;
    margin: 0;
}

.table-default .table-row {
    padding: 22px 18px;
}

.table-default .table-border {
    position: relative;
}

.table-default .table-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 97.2%;
    height: 1px;
    background-color: transparent;
    border-top: var(--border-style);
}

.table-default .data-header,
.table-default .data-header span,
.table-default .data-value {
    color: rgba(var(--dark-color), 0.62);
    font-size: 0.938rem;
}

.table-default .data-value {
    color: rgba(var(--dark-color), 1);
}

.table-default .data-value.data-length {
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.table-default .wrapper-action {
    gap: 6px;
}

.table-default .button-action {
    width: 42px;
    height: 42px;
    border-radius: 9999px;
    border: none;
    outline: none;
    stroke: none;
}

.table-default .button-action.button-detail {
    background-color: rgba(var(--blue-color), 0.12);
}

.table-default .button-action.button-detail:hover {
    background-color: rgba(var(--blue-color), 0.18);
}

.table-default .button-action.button-edit {
    background-color: rgba(var(--yellow-color), 0.12);
}

.table-default .button-action.button-edit:hover {
    background-color: rgba(var(--yellow-color), 0.18);
}

.table-default .button-action.button-delete {
    background-color: rgba(var(--red-color), 0.12);
}

.table-default .button-action.button-delete:hover {
    background-color: rgba(var(--red-color), 0.18);
}

.table-default .detail-icon,
.table-default .edit-icon,
.table-default .delete-icon {
    width: 16px;
    height: 16px;
    background-image: url('../img/icon/detail.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.table-default .edit-icon {
    background-image: url('../img/icon/edit.svg');
}

.table-default .delete-icon {
    background-image: url('../img/icon/delete.svg');
}

.alert {
    font-size: 0.938rem;
}
/* END COMPONENT STYLE */


/* LOGIN STYLE */
.login .login-content {
    margin-top: 82px;
}

.login .brand-logo {
    width: 82px;
    margin-bottom: 48px;
    display: inline-block;
}

.login .button-form {
    width: 100%;
    border: none;
    outline: none;
    stroke: none;
    display: inline-block;
    margin-top: 8px;
    padding: 16px 22px;
    border-radius: 9999px;
    background-color: rgba(var(--primary-color), 1);
    cursor: pointer;
    color: rgba(var(--light-color), 1);
    font-size: 0.938rem;
    text-align: center;
}

.login .button-form::placeholder {
    color: rgba(var(--dark-color), 0.62);
    font-size: 0.938rem;
}

.login .button-form:hover {
    opacity: 0.94;
}

.login p,
.login .link-forgot {
    color: rgba(var(--primary-color), 1);
    font-size: 0.875rem;
}

.login p {
    margin-top: 48px;
    color: rgba(var(--dark-color), 0.62);
}

.login .link-forgot:hover {
    text-decoration: underline;
}
/* END LOGIN STYLE */


/* SIDEBAR STYLE */
.sidebar {
    width: 230px;
    border-right: var(--border-style);
    background-color: rgba(var(--light-color), 1);
    min-height: 100vh;
    padding: 0 26px;
}

.sidebar .sidebar-scroll {
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    padding: 40px 0;
}

.sidebar .sidebar-menu-bottom {
    padding-top: 20px;
    margin-top: 20px;
    border-top: var(--border-style);
}

.sidebar .brand-logo {
    width: 72px;
    margin-bottom: 36px;
}

.sidebar .link-wrapper {
    gap: 6px;
}

.sidebar .menu-link {
    background-color: rgba(var(--dark-color), 0.05);
    border-radius: 12px;
    padding: 7px 14px 7px 7px;
    gap: 8px;
}

.sidebar .link-item,
.sidebar .link-item .wrapper {
    gap: 16px;
    border: none;
    outline: none;
    stroke: none;
    background-color: transparent;
}

.sidebar .link-item p {
    color: rgba(var(--dark-color), 0.62);
    font-size: 0.938rem;
}

.sidebar .menu-link.active .link-item p,
.sidebar .menu-link:hover .link-item p {
    color: rgba(var(--dark-color), 1);
}

.sidebar .icon-sidebar-wrapper {
    padding: 11px;
    background-color: transparent;
    border-radius: 8px;
}

.sidebar .menu-link.active .icon-sidebar-wrapper,
.sidebar .menu-link:hover .icon-sidebar-wrapper {
    /* background-color: rgba(var(--dark-color), 0.05); */
    background-color:rgba(28, 163, 222, 1);
}

.sidebar .sidebar-icon {
    width: 18px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar .sidebar-icon.dashboard-icon {
    background-image: url('../img/sidebar/dashboard.svg');
}

.sidebar .sidebar-icon.beranda-icon {
    background-image: url('../img/sidebar/beranda.svg');
}

.sidebar .sidebar-icon.profil-icon {
    background-image: url('../img/sidebar/profil.svg');
}

.sidebar .sidebar-icon.akademik-icon {
    background-image: url('../img/sidebar/akademik.svg');
}

.sidebar .sidebar-icon.kesiswaan-icon {
    background-image: url('../img/sidebar/kesiswaan.svg');
}

.sidebar .sidebar-icon.sarana-icon {
    background-image: url('../img/sidebar/sarana.svg');
}

.sidebar .sidebar-icon.humas-icon {
    background-image: url('../img/sidebar/humas.svg');
}

.sidebar .sidebar-icon.logout-icon {
    background-image: url('../img/sidebar/logout.svg');
}

.sidebar .menu-link.active .sidebar-icon.dashboard-icon,
.sidebar .menu-link:hover .sidebar-icon.dashboard-icon {
    background-image: url('../img/sidebar/dashboard-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.beranda-icon,
.sidebar .menu-link:hover .sidebar-icon.beranda-icon {
    background-image: url('../img/sidebar/beranda-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.profil-icon,
.sidebar .menu-link:hover .sidebar-icon.profil-icon {
    background-image: url('../img/sidebar/profil-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.akademik-icon,
.sidebar .menu-link:hover .sidebar-icon.akademik-icon {
    background-image: url('../img/sidebar/akademik-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.kesiswaan-icon,
.sidebar .menu-link:hover .sidebar-icon.kesiswaan-icon {
    background-image: url('../img/sidebar/kesiswaan-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.sarana-icon,
.sidebar .menu-link:hover .sidebar-icon.sarana-icon {
    background-image: url('../img/sidebar/sarana-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.humas-icon,
.sidebar .menu-link:hover .sidebar-icon.humas-icon {
    background-image: url('../img/sidebar/humas-active.svg');
}

.sidebar .menu-link.active .sidebar-icon.logout-icon,
.sidebar .menu-link:hover .sidebar-icon.logout-icon {
    background-image: url('../img/sidebar/logout-active.svg');
}

.sidebar .wrapper-arrow {
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
}

.sidebar .menu-link.active .wrapper-arrow,
.sidebar .menu-link:hover .wrapper-arrow {
    background-color: rgba(var(--dark-color), 0.05);
}

.sidebar .arrow-sidebar-icon {
    width: 9px;
    height: 9px;
    background-image: url('../img/icon/arrow-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.62;
}

.sidebar .menu-link.active .arrow-sidebar-icon,
.sidebar .menu-link:hover .arrow-sidebar-icon {
    opacity: 1;
}

.sidebar .link-child {
    padding: 11px 11px 11px 56px;
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
    display: none;
}

.sidebar .menu-link.active .link-child {
    display: inline-block;
}

.sidebar .link-child.active,
.sidebar .link-child:hover {
    color: rgba(var(--dark-color), 1);
}
/* END SIDEBAR STYLE */


/* CONTENT DASHBOARD STYLE */
.dashboard .content-dashboard {
    padding: 40px 60px 50px;
    width: 100%;
}

.content .card-default {
    padding: 16px;
    background-color: rgba(var(--light-color), 1);
    border-radius: 12px;
    border: var(--border-style);
}

.content .card-caption .caption-name {
    font-size: 0.938rem;
    color: rgba(var(--dark-color), 0.62);
    margin-bottom: 8px;
}

.content .card-caption .caption-value {
    font-size: 1.5rem;
    font-family: var(--semibold-font);
    color: rgba(var(--dark-color), 1);
}

.content .card-default .wrapper-icon {
    width: 46px;
    height: 46px;
    border-radius: 9999px;
    border: var(--border-style);
}
/* END CONTENT DASHBOARD STYLE */


/* TOPBAR STYLE */
.topbar {
    background-color: transparent;
    padding-bottom: 20px;
    border-bottom: var(--border-style);
    width: 100%;
    margin-bottom: 32px;
}

.topbar .topbar-profile {
    position: relative;
    gap: 32px;
    cursor: pointer;
}

.topbar .topbar-profile::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    transform: translateY(-50%);
    height: 32px;
    width: 1px;
    background-color: rgba(var(--dark-color), 0.12);
}

.topbar .arrow-border {
    width: 26px;
    height: 26px;
    border-radius: 9999px;
    border: var(--border-style);
    background-color: transparent;
}

.topbar .topbar-profile.active .arrow-border,
.topbar .topbar-profile:hover .arrow-border {
    background-color: rgba(var(--dark-color), 0.05);
}

.topbar .arrow-topbar-icon {
    width: 9px;
    height: 9px;
    background-image: url('../img/icon/arrow-down.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.topbar .wrapper-profile {
    gap: 16px;
}

.topbar .profile-image {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
}

.topbar .user-name {
    font-size: 1rem;
    margin-bottom: 2px;
    font-family: var(--semibold-font);
}

.topbar .user-role {
    font-size: 0.875rem;
    color: rgba(var(--dark-color), 0.62);
}

.topbar .popup-logout {
    display: inline-block;
    bottom: -42px;
    right: 0;
    width: 76%;
    height: fit-content;
    z-index: -9999;
    opacity: 0;
}

.topbar .popup-logout.active {
    bottom: -72px;
    z-index: 10;
    opacity: 1;
}

.topbar .button-logout {
    width: 100%;
    padding: 8px 22px 8px 8px;
    border-radius: 8px;
    border: var(--border-style);
    background-color: rgba(var(--light-color), 1);
    gap: 14px;
    outline: none;
    stroke: none;
}

.topbar .popup-logout .wrapper-logout {
    padding: 12px;
    border-radius: 5px;
    background-color: rgba(var(--dark-color), 0.05);
}

.topbar .popup-logout .logout-solid {
    width: 15px;
    height: 15px;
    background-image: url('../img/icon/logout-solid.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.62;
}

.topbar .popup-logout p {
    font-size: 0.938rem;
    color: rgba(var(--dark-color), 0.62);
}

.topbar .popup-logout:hover .logout-solid {
    opacity: 1;
}

.topbar .popup-logout:hover .button-logout p {
    color: rgba(var(--dark-color), 1);
}

.topbar .topbar-hamburger {
    padding: 12px;
    background-color: rgba(var(--light-color), 1);
    border: var(--border-style);
    border-radius: 9999px;
    cursor: pointer;
}

.topbar .topbar-hamburger.active,
.topbar .topbar-hamburger:hover {
    background-color: rgba(var(--dark-color), 0.05);
}

.topbar .hamburger-icon {
    width: 18px;
    height: 18px;
    background-image: url('../img/icon/hamburger.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* END TOPBAR STYLE */


/* MODAL STYLE */
.modal .modal-content {
    padding: 42px;
    border-radius: 18px;
    background-color: rgba(var(--light-color), 1);
    border: var(--border-style);
}

.modal .modal-content .title {
    margin-bottom: 16px;
}

.modal .button-wrapper {
    width: 100%;
    gap: 8px;
}

.modal .button-default,
.modal .button-default-solid {
    width: 100%;
    text-align: center;
}

.modal .caption-description {
    font-size: 0.938rem;
    color: rgba(var(--dark-color), 0.62);
}
/* END MODAL STYLE */


/* RICHEDITOR STYLE */
.richtexteditor {
    min-width: 100% !important;
}
/* END RICHEDITOR STYLE */


@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 260px;
        height: 100vh;
        z-index: 9999;
        left: -260px;
    }

    .sidebar.active {
        left: 0;
    }

    .dashboard .content-dashboard {
        padding: 30px 40px;
    }
}

@media (min-width: 576px) {
    .data-length {
        display: -webkit-box !important;
    }
}

@media (max-width: 480px) {
    .dashboard .content-dashboard {
        padding: 20px;
    }
}
