:root{
    --primary-color:rgba(1, 96, 201, 1);
    /*--secondary-color:rgba(61, 64, 72, 1);*/
}

/*general style start */
.fs-13{
    font-size: 0.813rem;
}
.fs-12{
    font-size: 0.75rem;
}
.fs-14{
    font-size: 0.825rem;
}
.fs-18{
    font-size: 1.125rem;
}
.fs-17{
    font-size: 1.063rem;
}
.fs-15{
    font-size: 0.938rem;
}
.fs-10{
    font-size: 0.625rem;
}
.fw-medium{
    font-weight: 500 !important;
}
.fw-bolder{
    font-weight: 800 !important;
}
.fw-black{
    font-weight: 900 !important;
}
.main-color{
    color: var(--primary-color) !important;
}



body{
    background: white;
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden !important;
}
body::-webkit-scrollbar{
    /*display: none;*/
}
p, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0 !important;
}
a{
    color: unset !important;
    text-decoration: none !important;
}
.desc{
    line-height: 150%;
    font-weight: 500;
    color: rgba(35, 35, 35, 0.62);
    font-size: 15px;
}
.title-font{
    font-family: 'Bebas Neue', sans-serif !important;
    text-transform: capitalize;
    color: rgba(61, 64, 72, 1);

}
.text-black{
    color: #232323 !important;
}
.bg-section{
    padding-top: 72px;
    padding-bottom: 72px;
    background: #E6E6EF;
}
.btn{
   padding: 16px 24px;
    border: none !important;
    transition: 0.2s !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    font-size: 14px !important;
    border-radius: 999999px;
}
.arr-hero:focus{
    border: none;
}
.btn-color, .category-name.active, .category-name:hover{
    background: var(--primary-color) !important;
    color: white !important;
    transition: 0.2s;
    width: fit-content;
    text-decoration: none !important;
}
.btn-input{
    border-radius: 12px !important;
    padding: 10px 24px;
}

.btn:hover{
  filter: brightness(120%) !important;
}

.btn-text{
    background: transparent;
    color: #232323;
    padding: 12px 18px !important;
    font-size: 12px!important;
}
.achievement-desc{
    color: rgba(255, 255, 255, 0.78);
}
.number-wrapper{
    width: 42px;
    height: 42px;
    background: rgba(28, 163, 222, 1);
    border-radius: 8px 0px;
}
.number-wrapper-sm{
    width: 28px;
    height: 28px;
    background: rgba(28, 163, 222, 1);
    border-radius: 8px 0px;
}
.prestasi-category-wrapper{
    width: 108px;
    height: 42px;
    background: rgba(28, 163, 222, 1);
    border-radius: 8px 0px;
}
.prestasi-category-wrapper-sm{
    width: 74px;
    height: 24px;
    background: rgba(28, 163, 222, 1);
    border-radius: 8px 0px;
}
.img-prestasi{
    border-radius: 8px;
}
.img-prestasi-sm{
    height: 100px;
    width: 150px !important;
}
.number-beasiswa-wrapper{
    width: 42px;
    height: 42px;
    background: rgba(28, 163, 222, 1);
    border-radius: 8px;
}
.title-section-text{
    max-width: 874px;
    width: 100%;
}
.long-title-section-text{
    max-width: 900px;
    width: 100%;
}
.img-testi-wrapper{
    height: 62px;
    width: 62px;
    border-radius: 6px;
}
.song-lyric{
    line-height: 220%;
}
.song-wrapper{
    max-width: 250px;
    width: 100%;
}
.big-logo-meaning{
    max-width: 250px !important;
}
.icon-location-wrapper{
    width: 54px;
    height: 54px;
    background: rgba(1, 96, 201, 0.12);
    border-radius: 50%;
}
.icon-location{
    width: 20px;
    height: 20px;
}
.category2, .category3{
    display: none;
}
.img-detail{
    width: 100%;
    height: 375px;
    object-fit: cover;
    border-radius: 8px;
}
.list-detail-p5 li:not(:last-child) {
    margin-bottom: 10px;
}
.img-detail-rectangle{
    border-radius: 8px;
    height: 100px !important;
    width: 100px !important;
}
.btn-sm{
    padding: 8px 14px;
    font-size: 12px !important;
}
.btn-sapras{
    background: transparent;
    border: none;
    transition: 0.3s;
}
.btn-sapras:hover{
    scale: 104%;
}
/*general style end */


/*navbar start*/
.nav-link:hover, .nav-link.active{
    color: var(--primary-color) !important;
}
.nav-link{
    width: fit-content !important;
    font-weight: 500;
}
.logo-size-navbar{
    width: 100px;
}
/*navbar end*/


/*all section setting*/
.section-margin-top {
    margin-top: 142px;
}
.achievement-section{
    background-image: url("../img/achievement-img.png");
    padding-top: 72px;
    padding-bottom: 72px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.prestasi-detail-section{
    border-radius: 12px;
    border: 1px solid rgba(35, 35, 35, 0.26);
    padding: 36px;
}
.pin-img img, .btn-sapras img{
    border-radius: 8px !important;
}

section .row .col-lg-5 img{
    border-radius: 12px !important;
}
.card-extra img{
    border-radius: 8px;
    max-width: 32px;
    width: 100%;
    max-height: 32px;
    height: 100%;
}
.row-program:nth-child(even){
    flex-direction: row-reverse;
}
.hero-decor{
    z-index: 9999999999999;
}
@media  (max-width:1300px) {
    .img-decor-hero{
        scale: 0.7;
        transform: translate(-50%, 20%);
        /* transform: translateX(-60%); */
    }
}
@media (min-width:1301px) {
    .img-decor-hero{
        scale: 0.7;
        transform: translate(-75%, 20%);
        /* transform: translateX(-60%); */
    }
}
.right-img-section{
    transform: translate(-4%, 0%);
    border-radius: 12px;
}
/* .left-img-section{

    border-radius: 12px;
} */
.right-img-section-decor{
    transform: translateY(4%);
}
.left-img-section-decor{
    transform: translate(4%, 4%);
}

.side-img-section-decor{
    background: rgba(1, 96, 201, 0.12);
    border-radius: 12px;
}
.section-decor{
    scale: 0.8;
    transform: translateY(120%);
}
.cta-section{
    background-image: url('../../assets-homepage/img/cta-bg.svg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}
.cta-section .position-absolute .section-decor{
    transform: translateY(180%);
}
.vision-section .position-absolute .section-decor{
    transform: translateY(180%);
}
.location-section .position-absolute .section-decor{
    transform: translateY(180%);
}
.img-section{
    border-radius: 12px !important  ;
}

/*all section setting*/


/*card styles*/
.card-testi, .card-desc-section{
    padding: 36px;
    border-radius: 12px;
    border: 1px solid rgba(35, 35, 35, 0.12);
}
.logo-meaning-card{
    padding: 32px 26px;
    border-radius: 12px;
    border: 1px solid rgba(35, 35, 35, 0.12);
}
.card-school-people{
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(35, 35, 35, 0.12);
}
.card-p5{
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid rgba(35, 35, 35, 0.12);
}
a .card-p5:hover, .prestasi:hover, .card-blog:hover{
    scale: 104%;
}


.card-extra, .card-blog{
    padding: 20px;
    border-radius: 12px;
    transition: 0.2s;
    border: 1px solid rgba(35, 35, 35, 0.12);
}
.card-extra:hover{
    border-color: #232323;
}
.card-extra-text{
    font-weight: 500;
}
.prestasi,.card-blog{
    transition: 0.3s;
}
.card-beasiswa{
    padding: 24px;
    border-radius: 12px;
    transition: 0.2s;
    border: 1px solid rgba(35, 35, 35, 0.12);
}
.modal-content{
    padding: 22px !important;
    border-radius: 8px !important;
}
.img-modal{
    border-radius: 8px !important;
}
.card-school-people img, .card-p5 img{
    border-radius: 8px;
}
/*card styles*/


/*pinterest layout style*/
.pin-container{
    -moz-column-count: 1 !important;
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}
.pin-img{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
@media (min-width: 500px), (max-width: 900px){
    .pin-container{
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;
        column-gap: 20px;
        justify-content: center;
    }
}
@media (min-width: 901px), (max-width: 1300px){
    .pin-container{
        -moz-column-count: 4 !important;
        -webkit-column-count: 4 !important;
        column-count: 4 !important;
        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;
        column-gap: 20px;
        justify-content: center;
    }
}
@media (min-width: 1301px){
    .pin-container{
        -moz-column-count: 4 !important;
        -webkit-column-count: 4 !important;
        column-count: 4 !important;
        -moz-column-gap: 0px;
        -webkit-column-gap: 0px;
        column-gap: 0px;
        justify-content: center;
    }
    .pin-img{
        max-width: 295px;
    }
}

/*pinterest layout style*/


/*lightbox style*/
@media (min-width: 901px){
    .modal-xl .modal-content{
        height: 100% !important;
        max-height: 600px !important;
    }
    .modal-xl{
        max-width: 800px !important;
        width: 100% !important;

        /* height: 400px !important; */
    }
    .ratio-16x9{
        --bs-aspect-ratio: unset !important;
        height: 400px !important;
        width: 100% !important;

        /* height: 100% !important; */
    }
    .carousel-control-next-icon{
        background-image: url('../../assets-homepage/img/light-box-next.svg') !important;
        opacity: 1 !important;
        width: 42px !important;
        background-size: cover !important;
        height: 42px !important;
        transform: translateX(248%) !important;
    }
    .carousel-control-prev-icon{
        background-image: url('../../assets-homepage/img/light-box-prev.svg') !important;
        opacity: 1 !important;
        width: 42px !important;
        height: 42px !important;
        background-size: cover !important;
        transform: translateX(-248%) !important;
    }
    .modal-xl .modal-dialog .modal-content{
        padding: 50px !important;
    }
}

@media (min-width: 500px), (max-width:900){
    .modal-xl .modal-content{
        height: 100% !important;
        max-height: 450px !important;
    }
    .modal-xl{
        max-width: 550px !important;
        width: 100% !important;

        /* height: 400px !important; */
    }
    .ratio-16x9{
        --bs-aspect-ratio: unset !important;
        height: 250px !important;
        width: 100% !important;

        /* height: 100% !important; */
    }
    .carousel-control-next-icon{
        background-image: url('../../assets-homepage/img/light-box-next.svg') !important;
        opacity: 1 !important;
        width: 42px !important;
        background-size: cover !important;
        height: 42px !important;
        transform: translateX(180%) !important;
    }
    .carousel-control-prev-icon{
        background-image: url('../../assets-homepage/img/light-box-prev.svg') !important;
        opacity: 1 !important;
        width: 42px !important;
        height: 42px !important;
        background-size: cover !important;
        transform: translateX(-180%) !important;
    }
    .modal-xl .modal-content{
        padding: 40px !important;
    }
}
@media (max-width:499px) {
    .carousel-control-next-icon{
        background-image: url('../../assets-homepage/img/light-box-next.svg') !important;
        opacity: 1 !important;
        width: 34px !important;
        background-size: cover !important;
        height: 34px !important;
        transform: translateX(62%) !important;
        border-radius: 50% !important;
    }
    .carousel-control-prev-icon{
        background-image: url('../../assets-homepage/img/light-box-prev.svg') !important;
        opacity: 1 !important;
        width: 34px !important;
        height: 34px !important;
        background-size: cover !important;
        transform: translateX(-62%) !important;
        border-radius: 50% !important;
    }
    .modal-xl .modal-content{
        padding: 28px 16px!important;
    }
}
.btn-close{
    display: none !important;
}
.ratio{

    background: transparent !important;

}
.modal-xl .modal-content{
    border-radius: 8px !important;
    background: white !important;

}

.ratio img{
    max-width: unset !important;
    max-height: unset !important;
    width: 100%!important;
    height: 100% !important;
}
.carousel-control{
    opacity: 1 !important;
}

/*lightbox style*/


/*table style*/
.table{
    border: 1px solid rgba(44, 42, 38, 0.52) !important;
    border-radius: 12px !important;
    border-collapse: unset !important;
}
thead, tbody{
    border-collapse: collapse !important;
}
thead tr th {
    font-weight: 500;
}
tbody tr:last-child, tbody tr:nth-last-child(2){
    border-bottom-color: transparent !important;
}
tbody tr:last-child td{
    border-top: 1px solid rgba(44, 42, 38, 0.52) !important;
}
/*table style*/


/*input style*/
.input-text{
    all: unset;
    padding-left: 20px;
}
.input-wrapper{
    padding: 9px;
    border-radius: 12px;
    border: 1px solid rgba(35, 35, 35, 0.26);
}
.long-searchbar{
    max-width: 415px !important;
    width: 100%;
}
/*input style*/


/*accordion style*/
.accordion-item{
    padding: 16px;
    border: 1px solid rgba(35, 35, 35, 0.12);
}
.accordion-section{
    margin-top: 142px;
    margin-bottom: 120px;
}
.accordion-button::after {
    background-image: url("../../assets-homepage/img/plus.svg");
    transform: scale(.7) !important;

}
.accordion-button:not(.collapsed)::after {
    background-image: url('../../assets-homepage/img/minus.svg');
    justify-content: end;
    transform: scale(.7) !important;
    /*margin-top: 8px!important;*/
}

.accordion-collapse{
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid rgba(61, 64, 72, 0.12);
}


.accordion-button {
    color: black!important;
    background: transparent !important;
    box-shadow: none!important;
}
/*accordion style*/


/*swiper style*/
.swiper-pagination-bullet-active{
    /*background: red;*/
    background: rgba(35, 35, 35, 0.36) !important;
}
.swiper-pagination-bullet{
    width: 56px !important;
    border-radius: 99999px !important;
    height: 7px !important;
}
/*swiper style*/




/*footer*/

    @media (min-width: 1100px) {
        .big-logo-footer{
            width: 200px !important;
        }
    }
.big-logo-footer{
    width: 35%;
}
.footer-link:hover{
    cursor: pointer;
    color: var(--primary-color);
}
.hr-footer{
    height: 4px !important;
    width: 250px;
    /*color: red;*/
}

.copyright{
    opacity: 100;
    color: rgba(234, 234, 243, 0.46);
}
.copyright-wrapper{
    background: var(--primary-color);
}
/*footer*/
